/* Styling af menuen til venstre */
.LeftMenu{
    -fx-background-color: white;
    -fx-border-radius: 0 30 30 0;
    -fx-background-radius: 0 30 30 0;
    -fx-border-width: 1;
    -fx-effect: dropshadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );

}

.LeftBackground{
    -fx-border-radius: 0 30 30 0;
    -fx-background-color: transparent;

}

.split-pane-divider{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0, 0 1 0 1;
    -fx-pref-width: 0;
}

.hbox{
    -fx-background-color: transparent;
}

.Buttons{
    -fx-background-color: #5A5656;
    -fx-text-fill: white;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.Buttons:hover{
    -fx-scale-z: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    -fx-cursor: hand;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 15, 0, 5, 5 );
}

.Searchbar, .TextField{
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 15, 0, 5, 5 );
}

.date-picker > .text-field, .TitelTextField{
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius:5 5 5 5;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 15, 0, 5, 5 )
}

.date-picker{
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.SearchButton{
    -fx-background-color: transparent;
}

.SearchButton:hover{
    -fx-scale-z: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    -fx-cursor: hand;
}

.MedarbejderTogle{
    -fx-background-color: #A7A1A1;
    -fx-text-fill: black;
    -fx-background-radius: 10 0 0 10 ;
    -fx-cursor: hand;
}

.MedarbejderTogle:selected{
    -fx-background-color: #5A5656;
    -fx-text-fill: white;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 10, 0, 5, 5 );
    -fx-background-radius: 10 0 0 10;
    -fx-cursor: mouse;
}

.LocationTogle{
    -fx-background-color: #A7A1A1;
    -fx-text-fill: black;
    -fx-background-radius: 0 10 10 0 ;
    -fx-cursor: hand;
}

.LocationTogle:selected{
    -fx-background-color: #5A5656;
    -fx-text-fill: white;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 10, 0, 5, 5 );
    -fx-background-radius: 0 10 10 0;
    -fx-cursor: mouse;
}


/* Styling af tab-pane */

.tab-pane .tab:selected{
    -fx-background-color: #A7A1A1;
    -fx-background-radius: 20 20 0 0;
    -fx-cursor: mouse;
}

.tab-pane .tab{
    -fx-background-color: #726F6F;
    -fx-background-radius: 20 20 0 0;
    -fx-cursor: hand;
}

.tab-header-area .tab-header-background {
    -fx-background-color: #4D4949;
}


/* Styling af main-pane */
.MainPane{
    -fx-background-image: url('images/4873411.jpg');
}


/* Styling af kalenderen */
.Calendar{
    -fx-background-color: transparent;
}

.list-view .scroll-bar,
.scroll-pane .scroll-bar{
    -fx-background-color:#E8E2E2;
    -fx-background-radius: 10;
}

.list-view .virtual-flow .scroll-bar .thumb,
.scroll-pane .scroll-bar .thumb {
    -fx-background-color:  #4E4A4A;
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-pref-width: 10;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow,
.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape : " ";
}

.ProjektInformation{
    -fx-background-color: #A7A1A100;
    -fx-border-color: transparent;
}

.LokationProjektejereProjektdeltagere{
    -fx-background-color: #EEECEC;
    -fx-border-color: transparent;
    -fx-background-radius: 30 30 30 30;
    -fx-effect: dropshadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );

}