/* Styling af menuen til venstre */
.LeftMenu{
    -fx-background-color: white;
    -fx-border-radius: 0 30 30 0;
    -fx-background-radius: 0 30 30 0;
    -fx-border-width: 1;
    -fx-effect: dropshadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );

}

.LeftBackground{
    -fx-border-radius: 0 30 30 0;
    -fx-background-color: transparent;

}

.split-pane-divider{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0, 0 1 0 1;
    -fx-pref-width: 0;
}

.hbox{
    -fx-background-color: transparent;
}

.Buttons, .Alerts .button{
    -fx-background-color: #5A5656;
    -fx-text-fill: white;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.Buttons:hover, .date-picker .arrow-button:hover, .Alerts .button:hover{
    -fx-scale-z: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    -fx-cursor: hand;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 15, 0, 5, 5 );
}

.Searchbar, .TextField{
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 15, 0, 5, 5 );
}

.TextField .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

.date-picker > .text-field, .TitelTextField{
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius:5 5 5 5;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 15, 0, 5, 5 )
}

.date-picker{
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 5 5 5 5;
}

.list-cell:hover, .list-cell:selected{
    -fx-background-color: #E8E2E2;
    -fx-text-fill: black;
    -fx-background-radius: 30 30 30 30;
    -fx-cursor: hand;
}

.date-picker .arrow-button {
    -fx-background-color: #5A5656;
    -fx-text-fill: white;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

.date-picker:editable > .arrow-button > * {
    -fx-background-color: white; /* Set the node in the button to be visible */
}

.MenuListe{
    -fx-border-color: transparent;
    -fx-background-color: #EDEDED;
    -fx-background-radius: 30 30 30 30;
    -fx-effect: dropshadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );
}

.SearchButton{
    -fx-background-color: transparent;
}

.SearchButton:hover{
    -fx-scale-z: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    -fx-cursor: hand;
}

.MedarbejderTogle{
    -fx-background-color: #A7A1A1;
    -fx-text-fill: black;
    -fx-background-radius: 10 0 0 10 ;
    -fx-cursor: hand;
}

.MedarbejderTogle:selected{
    -fx-background-color: #5A5656;
    -fx-text-fill: white;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 10, 0, 5, 5 );
    -fx-background-radius: 10 0 0 10;
    -fx-cursor: mouse;
}

.LocationTogle{
    -fx-background-color: #A7A1A1;
    -fx-text-fill: black;
    -fx-background-radius: 0 10 10 0 ;
    -fx-cursor: hand;
}

.LocationTogle:selected{
    -fx-background-color: #5A5656;
    -fx-text-fill: white;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 10, 0, 5, 5 );
    -fx-background-radius: 0 10 10 0;
    -fx-cursor: mouse;
}


/* Styling af tab-pane */

.tab-pane .tab:selected{
    -fx-background-color: #A7A1A1;
    -fx-background-radius: 20 20 0 0;
    -fx-cursor: mouse;

}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 1;
    -fx-border-color: transparent;
}

.tab-pane .tab{
    -fx-background-color: #726F6F;
    -fx-background-radius: 20 20 0 0;
    -fx-cursor: hand;
}

.tab-header-area .tab-header-background {
    -fx-background-color: #4D4949;
}


/* Styling af main-pane */
.MainPane{
    -fx-background-image: url('images/4873411.jpg');
}


.Calendar{
    -fx-background-color: transparent;
}

.list-view .scroll-bar,
.scroll-pane .scroll-bar{
    -fx-background-color:#E8E2E2;
    -fx-background-radius: 10;
}

.list-view .virtual-flow .scroll-bar .thumb,
.scroll-pane .scroll-bar .thumb {
    -fx-background-color:  #4E4A4A;
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-pref-width: 10;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow,
.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape : " ";
}

.ProjektInformation{
    -fx-background-color: #A7A1A100;
    -fx-border-color: transparent;
}

.LokationProjektejereProjektdeltagere{
    -fx-background-color: #EEECEC;
    -fx-border-color: transparent;
    -fx-background-radius: 30 30 30 30;
    -fx-effect: dropshadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );

}

.ProjectTooltip{
    -fx-background-color: white;
    -fx-background-radius: 30 30 30 30;
    -fx-border-radius: 30 30 30 30;
    -fx-border-width: 10;
    -fx-border-color: white;
    -fx-effect: dropshadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );
}

.ProjectTooltip .label{
    -fx-text-fill: black !important;
    -fx-font-size: 16;
}

.ProjectTooltipTitle{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.ProjectTooltip .button{
    -fx-background-color: #5A5656;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-border-color: transparent;
    -fx-background-radius: 10 10 10 10;
    -fx-cursor: hand;
    -fx-pref-height: 45;
    -fx-pref-width: 100;

}

.ProjectTooltip .button:hover{
    -fx-scale-z: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    -fx-cursor: hand;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 15, 0, 5, 5 );
}

.Alerts, .Alerts > *.button-bar > *.container{
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.Alerts > *.label.content{
    -fx-font-size: 14;
}

.Alerts *.header-panel{
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.choice-box.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
    //-fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 15, 0, 5, 5 );
}

.choice-box, .color-picker {
    -fx-background-color: White;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 15, 0, 5, 5 );
}

.choice-box .arrow {
    -fx-background-color: #5A5656;
}

.choice-box .menu-item:focused {
    -fx-background-color: #5A5656 ;
    -fx-border-radius: 10 10 10 10;
}

.choice-box .context-menu{
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.4 ), 15, 0, 5, 5 );
    -fx-min-width: 371;
    -fx-max-height: 200;
}

.AnsvarligChooser .context-menu{
    -fx-translate-y: 570;
}

.list-cell {
    -fx-background-color: transparent;
}
